.container {
    position:static;
    /* z-index: 1; */
    /* left: 50%;
    top: 50%;
    width: 40%;
    height: 40%; */
    display: flex;
    justify-content: center;
  
    /* overflow: visible; */
    /* background-color: red;*/
    /* transform: translate(-50%, -50%);
    opacity: 0.4;  */
  
    }
    
    
    /* .container label {
    display: block;
    margin-bottom: 1px;
    } */
    
    .container input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    /* margin-bottom: 10px; */
    }
    